<div class="   yt-card  clearfix">
<div class="branded-page-v2-body branded-page-v2-primary-column-content" id="">
<ul id="browse-items-primary">
<script type="application/ld+json">
   {"@type":"ItemList","itemListElement":[],"url":"https:\/\/www.youtube.com\/user\/PewDiePie","@context":"http:\/\/schema.org"}
</script>
<li>
   <div class="about-metadata-container">
   <div class="yt-alert yt-alert-default yt-alert-success hid " id="about-send-message-success">
      <div class="yt-alert-icon">
         <span class="icon master-sprite yt-sprite"></span>
      </div>
      <div class="yt-alert-content" role="alert">
         <div class="yt-alert-message" tabindex="0">
            Your message has been sent
         </div>
      </div>
      <div class="yt-alert-buttons"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-close close yt-uix-close" type="button" onclick=";return false;" aria-label="Close" data-close-parent-class="yt-alert"><span class="yt-uix-button-content">Close</span></button></div>
   </div>
   <div class="yt-alert yt-alert-default yt-alert-error hid " id="about-send-message-error">
      <div class="yt-alert-icon">
         <span class="icon master-sprite yt-sprite"></span>
      </div>
      <div class="yt-alert-content" role="alert">
         <div class="yt-alert-message" tabindex="0">
            Error sending your message.
         </div>
      </div>
      <div class="yt-alert-buttons"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-close close yt-uix-close" type="button" onclick=";return false;" aria-label="Close" data-close-parent-class="yt-alert"><span class="yt-uix-button-content">Close</span></button></div>
   </div>
   <div class="about-metadata-stats branded-page-box-padding">
      <div class="about-stats">
         <span class="about-stat"><b>56,853,140</b> subscribers</span>
         <span class="about-stat"> &bull; <b>15,941,372,993</b> views</span>
         <br/>
         <span class="about-stat">Joined 29 Apr 2010</span>
      </div>
   </div>
   <div class="about-actions messagebox-container branded-page-box-padding">
   </div>
   <div class="about-metadata-label branded-page-box-padding">
      <span>Description</span>
   </div>
   <div class="about-description branded-page-box-padding" >
      <pre>I make videos.</pre>
   </div>
   <div class="about-metadata-label about-metadata-label-border-top branded-page-box-padding">
      <span>Details</span>
   </div>
   <div class="business-email-container branded-page-box-padding ">
      <span class="business-email-label">For business enquiries:</span>
      <span class="business-email-inline">
      <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default business-email-button" type="button" onclick=";return false;"><span class="yt-uix-button-content">View email address</span></button>
      </span>
      <div class="business-email-captcha-container">
      </div>
   </div>
   <div class="country-container branded-page-box-padding">
      <span class="country-label">Country:</span>
      <span class="country-inline">
      United States
      </span>
   </div>
   <div class="about-metadata-label about-metadata-label-border-top branded-page-box-padding">
      <span>Links</span>
   </div>
   <div class="about-metadata branded-page-box-padding clearfix ">
      <ul class="about-custom-links">
         <li class="channel-links-item">
            <a href="https://plus.google.com/117663191659499528404" rel="me nofollow" target="_blank" title="Google+" class="about-channel-link ">
            <img src="//s2.googleusercontent.com/s2/favicons?feature=youtube_channel&amp;domain_url=https%3A%2F%2Fplus.google.com" class="about-channel-link-icon" alt="https://plus.google.com/117663191659499528404" width="16" height="16">
            <span class="about-channel-link-text">
            Google+
            </span>
            </a>
         </li>
      </ul>
   </div>

