<div id="watch-action-panels" class="watch-action-panels yt-uix-button-panel hid yt-card yt-card-has-padding">
    {% include '/common/watch/watch7/action_panel/share.twig' %}
    {% include '/common/watch/watch7/action_panel/transcript.twig' %}
    {% include '/common/watch/watch7/action_panel/stats.twig' %}
    {% include '/common/watch/watch7/action_panel/report.twig' %}
    {% include '/common/watch/watch7/action_panel/rental_required.twig' %}
    {% include '/common/watch/watch7/action_panel/error.twig' %}
    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup yt-uix-button-opacity yt-uix-close" type="button" onclick=";return false;" id="action-panel-dismiss" aria-label="Close" data-close-parent-id="watch8-action-panels"></button>
</div>