{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}

{% set pageType = 'feed' %}
{% set pageName = 'history' %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{%- block title -%}
History - {{ parent() }}
{% endblock %}

{% block foot_scripts %}
<script>
    yt.setConfig('ANGULAR_JS', "\/yts\/jslib\/angular.min-vflWkvD5q.js");
yt.setConfig('TRANSLATIONEDITOR_JS', "\/yts\/jsbin\/www-translationeditor-vflugm3V9\/www-translationeditor.js");
yt.setMsg('UNSAVED_CHANGES_WARNING', "Some of the changes you have made to channel settings have not been saved and will be lost if you navigate away from this page.");

  yt.setConfig(
    'JS_PAGE_MODULES', [
        'www/feed',
      'www/ypc_bootstrap'
    ]);




yt.setConfig('DISMISS_THROUGH_IT', true);


    yt.setConfig({
      'GUIDE_SELECTED_ITEM': "{{ serialiseEndpoint(yt.currentEndpoint) }}"
    });

    yt.setConfig({
  'GUIDED_HELP_LOCALE': "en_US",
  'GUIDED_HELP_ENVIRONMENT': "prod"
});

</script>
{% endblock %}

{% block content %}
<div class="branded-page-v2-container branded-page-base-bold-titles branded-page-v2-container-flex-width branded-page-v2-has-top-row branded-page-v2-secondary-column-hidden">
    <div class="branded-page-v2-top-row">

    </div>

  <div class="branded-page-v2-col-container">
    <div class="branded-page-v2-col-container-inner">
      <div class="branded-page-v2-primary-col">
        <div class="   yt-card  clearfix">
            <div class="branded-page-v2-body branded-page-v2-primary-column-content" id="">
        <div class="feed-header clearfix"><div class="feed-header-feed-filter"><ul id="channel-navigation-menu" class="clearfix"><li><a href="/feed/history" class="yt-uix-button   spf-link    yt-uix-button-epic-nav-item yt-uix-button-size-default"><span class="yt-uix-button-content">Watch history</span></a></li><li><a href="/feed/history/search_history" class="yt-uix-button   spf-link    yt-uix-button-epic-nav-item yt-uix-button-size-default"><span class="yt-uix-button-content">Search history</span></a></li><li><h2 class="epic-nav-item-heading first-focus" aria-selected="true">Comments</h2></li></ul></div></div>
  <div id="browse-items-primary">

<ol id="section-list-368750" class="section-list">
<li>
<ol id="item-section-817679" class="item-section">
<li><div class="display-message"><a href="https://accounts.google.com/ServiceLogin?continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3DNone%26hl%3Den%26next%3D%252Ffeed%252Fhistory%252Fcomment_history%26action_handle_signin%3Dtrue&amp;hl=en&amp;passive=true&amp;service=youtube&amp;uilel=3" class="yt-uix-clickcard-target  "  data-orientation="vertical" data-position="bottomleft">Sign in</a> to view your comments</div></li>
</ol>
</li>
</ol>

  </div>

</div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}