{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}

{% set pageType = 'feed' %}
{% set pageName = 'history' %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{%- block title -%}
History - {{ parent() }}
{% endblock %}

{% block foot_scripts %}
<script>
    yt.setConfig('ANGULAR_JS', "\/yts\/jslib\/angular.min-vflWkvD5q.js");
yt.setConfig('TRANSLATIONEDITOR_JS', "\/yts\/jsbin\/www-translationeditor-vflugm3V9\/www-translationeditor.js");
yt.setMsg('UNSAVED_CHANGES_WARNING', "Some of the changes you have made to channel settings have not been saved and will be lost if you navigate away from this page.");

  yt.setConfig(
    'JS_PAGE_MODULES', [
        'www/feed',
      'www/ypc_bootstrap'
    ]);




yt.setConfig('DISMISS_THROUGH_IT', true);


    yt.setConfig({
      'GUIDE_SELECTED_ITEM': "{{ serialiseEndpoint(yt.currentEndpoint) }}"
    });

    yt.setConfig({
  'GUIDED_HELP_LOCALE': "en_US",
  'GUIDED_HELP_ENVIRONMENT': "prod"
});

</script>
{% endblock %}

{% block content %}
<div class="branded-page-v2-container branded-page-base-bold-titles branded-page-v2-container-flex-width branded-page-v2-has-top-row branded-page-v2-secondary-column-hidden">
    <div class="branded-page-v2-top-row">

    </div>

  <div class="branded-page-v2-col-container">
    <div class="branded-page-v2-col-container-inner">
      <div class="branded-page-v2-primary-col">
        <div class="   yt-card  clearfix">
            <div class="branded-page-v2-body branded-page-v2-primary-column-content" id="">
        <div class="feed-header clearfix"><div class="feed-header-feed-filter"><ul id="channel-navigation-menu" class="clearfix"><li><a href="/feed/history" class="yt-uix-button   spf-link    yt-uix-button-epic-nav-item yt-uix-button-size-default"><span class="yt-uix-button-content">Watch history</span></a></li><li><h2 class="epic-nav-item-heading first-focus" aria-selected="true">Search history</h2></li><li><a href="/feed/history/comment_history" class="yt-uix-button   spf-link    yt-uix-button-epic-nav-item yt-uix-button-size-default"><span class="yt-uix-button-content">Comments</span></a></li></ul></div></div>
  <div id="browse-items-primary">

<ol id="section-list-search_history" class="section-list">
<li>
<ol id="item-section-search_history" class="item-section"><li class="item-section-header"><ul class="branded-page-v2-subnav-container branded-page-gutter-padding history-controls-container"><li>
<span class="yt-uix-overlay " data-overlay-hidden="yt.www.feed.history.onHideClearSearchHistoryDialog">
  <span class="  yt-uix-overlay-target"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default" type="button" onclick=";return false;" id="search-history-clear-button"><span class="yt-uix-button-content">Clear all search history</span></button></span>
      <div class="yt-dialog hid ">
  <div class="yt-dialog-base">
    <span class="yt-dialog-align"></span>
    <div class="yt-dialog-fg" role="dialog">
      <div class="yt-dialog-fg-content">
          <div class="yt-dialog-header">
                <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default   yt-dialog-dismiss yt-dialog-close" type="button" onclick=";return false;" data-action="close"><span class="yt-uix-button-content">Close</span></button>

                <h2 class="yt-dialog-title" role="alert">
    Clear all search history
</h2>

          </div>
        <div class="yt-dialog-loading">
            <div class="yt-dialog-waiting-content">
    <p class="yt-spinner ">
      <span class="yt-spinner-img  yt-sprite" title="Loading icon"></span>

  <span class="yt-spinner-message">
Loading...
  </span>
</p>

</div>

        </div>
        <div class="yt-dialog-content">
            <p>
Are you sure you want to clear your entire search history? There is no undo.
</p>
<div class="yt-uix-overlay-actions">
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-overlay-close" type="button" onclick=";return false;" id="search-history-clear-confirm-button"><span class="yt-uix-button-content">Clear all search history</span></button>
  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-primary yt-uix-overlay-close" type="button" onclick=";return false;"><span class="yt-uix-button-content">Cancel</span></button>
</div>

        </div>
        <div class="yt-dialog-working">
            <div class="yt-dialog-working-overlay"></div>
<div class="yt-dialog-working-bubble">
  <div class="yt-dialog-waiting-content">
      <p class="yt-spinner ">
      <span class="yt-spinner-img  yt-sprite" title="Loading icon"></span>

  <span class="yt-spinner-message">
      Working...
  </span>
</p>

    </div>
</div>

        </div>
      </div>
      <div class="yt-dialog-focus-trap" tabindex="0"></div>
    </div>
  </div>
</div>


</span>

</li> <li>  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default " type="button" onclick=";return false;" id="search-history-pause-button"><span class="yt-uix-button-content">Pause search history</span></button>
</li> <li>  <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default hid" type="button" onclick=";return false;" id="search-history-resume-button"><span class="yt-uix-button-content">Resume search history</span></button>
</li> </ul></li>
<li><div class="display-message">Search history isn't viewable when signed out.</div></li>
</ol>
</li>
</ol>

  </div>

</div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}