{% from "core/html/img.twig" import img %}
{% import "common/uix/button.twig" as button %}
{% import "common/uix/load_more_button.twig" as load_more %}
{% from "common/feed/macros.twig" import notification_item as notification %}
<body>
    <div id="yt-masthead-notifications-content" class="yt-uix-scroller" data-loaded="true" data-scroller-mousewheel-listener="" data-scroller-scroll-listener="">
        <ol id="item-section-327280" class="item-section">
            {% for section in yt.notifSections %}
                {% for item in section.multiPageMenuNotificationSectionRenderer.items %}
                    {{ notification(item) }}
                {% endfor %}
            {% endfor %}
        </ol>
        {% set lastSection = yt.notifSections|last %}
        {% set lastSection = lastSection.multiPageMenuNotificationSectionRenderer.items %}
        {% set lastItem = lastSection|last %}
        {% if lastItem.continuationItemRenderer %}
            {% set this = lastItem.continuationItemRenderer %}
            {{ load_more.render(this.continuationEndpoint.getNotificationMenuEndpoint.ctoken, "item-section-327280", false, "feed_ajax") }}
        {% endif %}
    </div>
</body>