<div id="action-panel-rental-required" class="action-panel-content hid">
    <div id="watch-actions-rental-required">
        <strong>{{ rehike.i18n.get("watch", "actionPanelRentalRequired") }}</strong>
    </div>
</div>