# The following volunteers have self-identified as subject matter experts
# or interested parties over a particular area of the Rehike source code.
# While requesting a review from someone does not obligate that person to
# review a pull request, these reviewers might have valuable knowledge of
# the problem area and could aid in deciding whether a pull request is ready
# for merging.
#
# For more information, see the GitHub CODEOWNERS documentation:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Language translation owners:
/i18n/en-US @kawapure
/i18n/en-GB @kawapure
/i18n/ja @kawapure
/i18n/ko @bluedragon-cairo
/i18n/es-LA @Erizur
/i18n/nl-NL @Zehnter
/i18n/pl @VexorionReal
/i18n/pt-BR @kwan-vini
/i18n/ru @malina-1797

# General code
/.git-hooks @kawapure
/.github @kawapure @aubymori

/controllers @aubymori @kawapure
/controllers/ajax @aubymori
/controllers/core @kawapure
/controllers/rehike @kawapure
/controllers/rehike/config.php @aubymori

/docs @kawapure

/includes @kawapure @aubymori

/models @aubymori @kawapure
/models/Browse @kawapure
/models/Comments @kawapure
/models/Rehike @kawapure
/models/Results @kawapure
/models/Share @syndiate

/modules/generated @kawapure
/modules/Rehike  @aubymori @kawapure
/modules/Rehike/Async @kawapure
/modules/Rehike/ControllerV2 @kawapure
/modules/Rehike/Debugger @kawapure
/modules/Rehike/i18n @kawapure
/modules/Rehike/Player  @kawapure @TorutheRedFox @DavidCGranger
/modules/Rehike/Signin  @kawapure
/modules/Rehike/SignInV2  @kawapure
/modules/Rehike/Spf  @kawapure
/modules/Rehike/Version 

/src @aubymori @kawapure
/src/build_tools @kawapure
/src/img @kawapure
/src/protos @kawapure

/static/js/html5player @TorutheRedFox @kawapure
/static/js/www-base-rehike.js @kawapure

/template/hitchhiker @kawapure @aubymori
/template/hitchhiker/rehike @kawapure
/template/hitchhiker/page_fragments @kawapure
/template/hitchhiker/player @TorutheRedFox

/index.php @kawapure @aubymori
/router.php @kawapure @aubymori