*.html linguist-vendored
static/** linguist-vendored

# .rhbuild files are technically JavaScript, though they
# could also pass as Python due to syntactic choices in
# their construction.
*.rhbuild linguist-language=js
