{%- from "common/uix/load_more_button.twig" import render as load_more -%}
{%- import "common/uix/lockup.twig" as lockup -%}
{
    "content_html": {%- apply json_encode|raw -%}
    {%- for result in yt.page.results -%}
    <li>
        {%- if yt.config.largeSearchThumbs -%}
            {%- set tw = 246 -%}
            {%- set th = 138 -%}
        {%- else -%}
            {%- set tw = 196 -%}
            {%- set th = 110 -%}
        {%- endif -%}
        {%- if result.videoRenderer or result.playlistRenderer or result.radioRenderer -%}
            {{ lockup.tile(result, tw, th) }}
        {%- elseif result.channelRenderer -%}
            {{ lockup.tile(result, th, th) }}
        {%- elseif result.backgroundPromoRenderer -%}
            <p class="display-message">{{ getText(result.backgroundPromoRenderer.title) }}</p>
        {%- endif -%}
    </li>
    {%- endfor -%}
    {%- endapply -%}{%- if yt.page.continuation -%},
    "load_more_widget_html": {{ load_more(yt.page.continuation, "item-section-results", false, "search_ajax")|json_encode|raw }}
    {%- endif -%}
}