{% import '/common/watch/watch7/action_panel/base.twig' as action_panel %}
<div id="action-panel-report" class="action-panel-content hid" data-auth-required="true">
    {{ action_panel.loading() }}
</div>