{% macro render(data) %}
{% import '/common/comments/main.twig' as main %}
<div id="comment-section-renderer"
   class="comment-section-renderer "

   data-child-tracking="CAAQg2ciEwj8hczq9ovhAhWBksQKHcGjAPw">
   {% if data.headerRenderer %}
      {% from "common/comments/header.twig" import render as header %}
      {{ header(data.headerRenderer) }}
   {% endif %}
   <div class="comment-section-renderer-items" id="comment-section-renderer-items">
      {# spinner img for switching view #}
      <span class="yt-spinner-img comment-section-items-loading yt-sprite" title="Loading icon"></span>
      {% for item in data.comments.commentThreads %}
         {{ main.comment_thread(item) }}
      {% endfor %}
   </div>
   {% if data.comments.commentContinuationRenderer %}
      {{ main.loadMoreWidget(data.comments.commentContinuationRenderer.token) }}
   {% endif %}
   {% include '/common/comments/simplebox.twig' %}
   <div class="feedback-banner hid" aria-live="polite"></div>
   <span class="yt-spinner-img comment-renderer-loading yt-sprite" title="Loading icon"></span>
   <div class="hid" id="comment-renderer-abuse">
      <div class="comment-renderer-abuse-content"></div>
   </div>
</div>
{% endmacro %}