<div class="comment-simplebox" id="comment-simplebox">
    <div class="comment-simplebox-arrow">
        <div class="arrow-inner"></div>
        <div class="arrow-outer"></div>
    </div>
    <div class="comment-simplebox-frame">
        <div class="comment-simplebox-prompt"></div>
        <div class="comment-simplebox-text" role="textbox" aria-multiline="true"></div>
    </div>
    <div class="comment-simplebox-controls">
        <div class="comment-simplebox-error-message hid" data-placeholder="{{ yt.msgs.commentPostFail }}"></div>
        <div class="comment-simplebox-buttons"><span class="comment-simplebox-character-counter"></span><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default comment-simplebox-cancel" type="button" onclick=";return false;"><span class="yt-uix-button-content">Cancel
        </span></button><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-primary yt-uix-button-empty comment-simplebox-submit " type="button" onclick=";return false;" data-zero-step-params="" data-params="" data-target=""></button>
        </div>
    </div>
    <span class="yt-spinner-img comment-simplebox-loading yt-sprite" title="Loading icon"></span>
</div>