{% from "common/uix/button.twig" import render as button %}
<h3 class="signin-clickcard-header">{{ data.heading }}</h3>
<div class="signin-clickcard-message">
    {{ data.message }}
</div>
{{ button(data.button) }}