{%- macro container(data) -%}
{% from "rehike/debugger/lightbox_main.twig" import loading_renderer %}
<div class="global-walker-container">
    {{ loading_renderer() }}
    <div class="items"></div>
</div>
{%- endmacro -%}