{# 
    Implements the base HTML insertion for the Rehike debugger.
    
    @author Taniko Yamamoto <kirasicecreamm@gmail.com>
    @author The Rehike Maintainers
#}
{% if not yt.spf %}
<div id="rebug-main" class="{{ rehikeDebugger.condensed ? "rebug-condensed" }}">
    <style>
        {% include "rehike/debugger/css/main.css.twig" %}
    </style>
    {%- if rehikeDebugger.openButton -%}
    {% include "rehike/debugger/open_button.twig" %}
    {%- endif -%}
    <div id="rebug-lightbox-container">
        {% include "rehike/debugger/lightbox_main.twig" %}
    </div>
    <script>
        {% include "rehike/debugger/js/main.js.twig" %}
    </script>
</div>
{% endif %}