{# 
    Implements the Rehike debugger popup.
    
    @author Taniko Yamamoto <kirasicecreamm@gmail.com>
    @author The Rehike Maintainers
#}

{% from "common/uix/button.twig" import render as button %}
<div id="rebug-open-button-container">
    {{ button(rehikeDebugger.openButton, null, "rebug-open-button") }}
</div>