{##
 # Implements the playlist overlay wrapper.
 #
 # @author Taniko Yamamoto <kirasicecreamm@gmail.com>
 #}

{## @private #}
{%- macro _abstract(type, data) -%}
    {# Conditionally set text based on type #}
    {% set count = type == "radio" 
        ? "50+" 
        : data.videoCount ?? getText(data.videoCountShortText) 
    %}

    <div class="sidebar">
        <span class="yt-pl-sidebar-content yt-valign">
        <span class="yt-valign-container">
            <span class="formatted-video-count-label">
                {# 
                   TODO (yukiscoffee): Pluralisation should be 
                   determined by i18n interface down the line.
                #}
                <b>{{ count }}</b> video{% if count > 1 %}s{% endif %}
            </span>
            <span class="yt-pl-icon yt-pl-icon-{{ type == "radio" ? "mix" : "reg" }} yt-sprite"></span>
        </span>
        </span>
    </div>
    <div class="yt-pl-thumb-overlay">
        <span class="yt-pl-thumb-overlay-content">
        <span class="play-icon yt-sprite"></span>
        <span class="yt-pl-thumb-overlay-text">Play all</span>
        </span>
    </div>
{%- endmacro -%}

{##
 # Render a regular playlist thumbnail overlay
 #}
{%- macro renderPlaylistOverlay(data) -%}
    {{ _self._abstract("playlist", data) }}
{%- endmacro -%}

{##
 # Render a radio thumbnail overlay
 #}
 {%- macro renderRadioOverlay(data) -%}
 {{ _self._abstract("radio", data) }}
{%- endmacro -%}