{%- macro render(label) -%}
<p class="yt-spinner">
    <span title="Loading icon" class="yt-spinner-img  yt-sprite"></span>
    <span class="yt-spinner-message">
        {{ label }}
    </span>
</p>
{% endmacro %}