{% import '/common/watch/watch7/sidebar/macros.twig' as sidebar %}
<div class="autoplay-bar">
    <div class="checkbox-on-off">
        <label for="autoplay-checkbox">Autoplay</label>
        <span class="autoplay-hovercard yt-uix-hovercard">
            <span class="autoplay-info-icon yt-uix-button-opacity yt-uix-hovercard-target yt-sprite" data-orientation="vertical" data-position="topright"></span>
            <span class="yt-uix-hovercard-content">
                When autoplay is enabled, a suggested video will automatically play next.
            </span>
        </span>
        <span class="yt-uix-checkbox-on-off ">
            <input id="autoplay-checkbox" class="" type="checkbox" name=""  checked>
            <label for="autoplay-checkbox" id="autoplay-checkbox-label">
                <span class="checked"></span><span class="toggle"></span><span class="unchecked"></span>
            </label>  
        </span>
    </div>
    <h4 class="watch-sidebar-head">
        Up next
    </h4>
    <div class="watch-sidebar-body">
        {{ sidebar.video_list(secondaryResults.autoplayRenderer.results) }}
    </div>
</div>