{% import '/common/watch/watch7/sidebar/macros.twig' as sidebar %}

<div id="watch7-sidebar" class="watch-sidebar">
    <div id="placeholder-playlist" class="watch-playlist player-height {{ not yt.page.playlist ? ' hid' }}"></div>
    {%- if yt.page.liveChat -%}
        {% from "common/watch/live_chat/base.twig" import render as live_chat %}
        {{ live_chat(yt.page.liveChat) }}
    {%- endif -%}
    <div id="watch7-sidebar-contents" class="watch-sidebar-gutter yt-card yt-card-has-padding yt-uix-expander yt-uix-expander-collapsed">
        <div id="watch7-sidebar-modules">
            {% if secondaryResults.compactAutoplayRenderer %}
            <div class="watch-sidebar-section">
                {% include '/common/watch/watch7/sidebar/autoplay_module.twig' %}
            </div>
            {% endif %}
            <div class="watch-sidebar-section">
                {{ secondaryResults.compactAutoplayRenderer ? '<hr class="watch-sidebar-separation-line">'|raw }}
                <div class="watch-sidebar-body">
                {{ sidebar.video_list(secondaryResults.results, 'watch-related', yt.continuation) }}
                </div>
            </div>
        </div>
    </div>
</div>