{% import "common/core/spinner.twig" as spinner %}
{% import "pageframe/guide/macros.twig" as guide %}
<div id="guide" class="yt-scrollbar">
   <div id="appbar-guide-menu" class="appbar-menu appbar-guide-menu-layout appbar-guide-clickable-ancestor yt-uix-scroller yt-uix-tdl" role="navigation">
      <div id="guide-container">
         {% if defaultGuideVisibility or yt.spf %}
         <div class="guide-module-content yt-scrollbar">
            <ul class="guide-toplevel">
               <li class="guide-section vve-check"
                  data-visibility-tracking="">
                  <div class="guide-item-container personal-item">
                     <ul class="guide-user-links yt-uix-tdl yt-box" role="menu">
                        <li class="vve-check guide-channel guide-notification-item overflowable-list-item " id="what_to_watch-guide-item" 
                           data-visibility-tracking="" role="menuitem">
                           <a class="guide-item yt-uix-sessionlink yt-valign spf-link"
                              href="/"
                              title="Home"
                              data-visibility-tracking="" data-external-id="what_to_watch" data-serialized-endpoint="0qDduQEREg9GRXdoYXRfdG9fd2F0Y2g%3D" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-system&amp;ved=CHwQtSwYACITCOLXzPvf6toCFRA7fwodgP0KKSiOHg"
                              >
                           <span class="yt-valign-container">
                           <span class="thumb guide-what-to-watch-icon yt-sprite"></span>
                           <span class="display-name  no-count">
                           <span>
                           Home
                           </span>
                           </span>
                           </span>
                           </a>
                        </li>
                        <li class="vve-check guide-channel guide-notification-item overflowable-list-item " id="trending-guide-item" 
                           data-visibility-tracking="" role="menuitem">
                           <a class="guide-item yt-uix-sessionlink yt-valign spf-link    "
                              href="/feed/trending"
                              title="Trending"
                              data-visibility-tracking="" data-external-id="trending" data-serialized-endpoint="0qDduQEMEgpGRXRyZW5kaW5n" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-trending&amp;ved=CH0QtSwYASITCOLXzPvf6toCFRA7fwodgP0KKSiOHg"
                              >
                           <span class="yt-valign-container">
                           <span class="thumb guide-trending-icon yt-sprite"></span>
                           <span class="display-name  no-count">
                           <span>
                           Trending
                           </span>
                           </span>
                           </span>
                           </a>
                        </li>
                        <li class="vve-check guide-channel guide-notification-item overflowable-list-item " id="history-guide-item" 
                           data-visibility-tracking="" role="menuitem">
                           <a class="guide-item yt-uix-sessionlink yt-valign spf-link    "
                              href="/feed/history"
                              title="History"
                              data-visibility-tracking="" data-external-id="history" data-serialized-endpoint="0qDduQELEglGRWhpc3Rvcnk%3D" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-personal&amp;ved=CH4QtSwYAiITCOLXzPvf6toCFRA7fwodgP0KKSiOHg"
                              >
                           <span class="yt-valign-container">
                           <span class="thumb guide-history-icon yt-sprite"></span>
                           <span class="display-name  no-count">
                           <span>
                           History
                           </span>
                           </span>
                           </span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <hr class="guide-section-separator">
               </li>
               <li class="guide-section vve-check"
                  data-visibility-tracking="">
                  <div class="guide-item-container personal-item">
                     <h3>
                        Best of YouTube
                     </h3>
                     <ul class="guide-user-links yt-uix-tdl yt-box" role="menu">
                        {% for item in yt.guide.items[3].guideSectionRenderer.items %}
                        {{ guide.channel(item) }}
                        {% endfor %}
                     </ul>
                  </div>
                  <hr class="guide-section-separator">
               </li>
               <li class="guide-section vve-check"
                  data-visibility-tracking="">
                  <div class="guide-item-container personal-item">
                     <ul class="guide-user-links yt-uix-tdl yt-box" role="menu">
                        <li class="vve-check guide-channel guide-notification-item overflowable-list-item " id="guide_builder-guide-item" 
                           data-visibility-tracking="" role="menuitem">
                           <a class="guide-item yt-uix-sessionlink yt-valign spf-link    "
                              href="/feed/guide_builder"
                              title="Browse channels"
                              data-visibility-tracking="" data-external-id="guide_builder" data-serialized-endpoint="0qDduQEREg9GRWd1aWRlX2J1aWxkZXI%3D" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-manage&amp;ved=CIwBELUsGAAiEwji18z73-raAhUQO38KHYD9Cikojh4"
                              >
                           <span class="yt-valign-container">
                           <span class="thumb guide-builder-icon yt-sprite"></span>
                           <span class="display-name  no-count">
                           <span>
                           Browse channels
                           </span>
                           </span>
                           </span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <hr class="guide-section-separator">
               </li>
               <li class="guide-section guide-header signup-promo">
                  <p>
                     Sign in now to see your channels and recommendations!
                  </p>
                  <div id="guide-builder-promo-buttons" class="signed-out clearfix">
                     <a  href="https://accounts.google.com/ServiceLogin?service=youtube&amp;uilel=3&amp;hl=en&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252F%26feature%3Dsign_in_promo&amp;passive=true" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-primary yt-uix-button-size-default" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg"><span class="yt-uix-button-content">Sign in</span></a>
                  </div>
               </li>
            </ul>
         </div>
         {% else %}
         <div class="guide-module-content guide-module-loading">
            {{ spinner.render("Loading...") }}
        </div>
         {% endif %}
      </div>
   </div>
   <div id="appbar-guide-notifications" class="hid">
      <div id="appbar-guide-notification-watch-later-video-added">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Added to Watch Later</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-watch-later-video-removed">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Removed from Watch Later</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-subscription">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Subscription added</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-unsubscription">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Subscription removed</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-playlist-like">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Saved to Playlists</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-playlist-unlike">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Removed from Playlists</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-playlist-video-added">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Added to playlist</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-playlist-video-removed">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Removed from playlist</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-video-like">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Added to Liked videos</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-video-unlike">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Removed from Liked videos</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-event-reminder-set">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >You'll be reminded about this event</span></span></div>
            -->
      </div>
      <div id="appbar-guide-notification-event-reminder-removed">
         <!--
            <div class="appbar-guide-notification " role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" >Event reminder removed</span></span></div>
            -->
      </div>
   </div>
   <div id="appbar-guide-item-templates" class="hid">
      <div id="appbar-guide-item-template-playlist">
         <!--
            <li class="vve-check guide-channel guide-notification-item overflowable-list-item show-insertion-notification " id="__ID__-guide-item" 
            data-visibility-tracking="" role="menuitem">
                
            <a class="guide-item yt-uix-sessionlink yt-valign spf-nolink    "
              href="__URL__"
              title="__TITLE__"
              data-visibility-tracking="" data-external-id="__ID__" data-serialized-endpoint="" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-playlists"
            >
              <span class="yt-valign-container">
                  <span class="thumb guide-playlists-icon yt-sprite"></span>
                  <span class="display-name  no-count">
                    <span>
                      __TITLE__
                    </span>
                  </span>
              </span>
            </a>
            
                <div class="appbar-guide-notification guide-item-insertion-notification" role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" aria-label="Saved to Playlists">__NOTIFICATION_OVERLAY_MESSAGE__</span></span></div>
            </li>
            
                -->
      </div>
      <div id="appbar-guide-item-template-mix">
         <!--
            <li class="vve-check guide-channel guide-notification-item overflowable-list-item show-insertion-notification " id="__ID__-guide-item" 
            data-visibility-tracking="" role="menuitem">
                
            <a class="guide-item yt-uix-sessionlink yt-valign spf-nolink    "
              href="__URL__"
              title="__TITLE__"
              data-visibility-tracking="" data-external-id="__ID__" data-serialized-endpoint="" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-playlists"
            >
              <span class="yt-valign-container">
                  <span class="thumb guide-mix-icon yt-sprite"></span>
                  <span class="display-name  no-count">
                    <span>
                      __TITLE__
                    </span>
                  </span>
              </span>
            </a>
            
                <div class="appbar-guide-notification guide-item-insertion-notification" role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" aria-label="Saved to Playlists">__NOTIFICATION_OVERLAY_MESSAGE__</span></span></div>
            </li>
            
                -->
      </div>
      <div id="appbar-guide-item-template-channel">
         <!--
            <li class="vve-check guide-channel guide-notification-item overflowable-list-item show-insertion-notification " id="__ID__-guide-item" 
            data-visibility-tracking="" role="menuitem">
                
            <a class="guide-item yt-uix-sessionlink yt-valign spf-nolink    "
              href="__URL__"
              title="__TITLE__"
              data-visibility-tracking="" data-external-id="__ID__" data-serialized-endpoint="" data-sessionlink="ei=caLrWqLbKZD2_AOA-6vIAg&amp;feature=g-channel"
            >
              <span class="yt-valign-container">
                  <span class="thumb">  <span class="video-thumb  yt-thumb yt-thumb-20"
              >
              <span class="yt-thumb-square">
                <span class="yt-thumb-clip">
                  
            <img height="20" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" alt="" aria-hidden="true" width="20" data-ytimg="1" src="__THUMBNAIL_URL__" >
            
                  <span class="vertical-align"></span>
                </span>
              </span>
            </span>
            </span>
                  <span class="display-name  no-count">
                    <span>
                      __TITLE__
                    </span>
                  </span>
              </span>
            </a>
            
                <div class="appbar-guide-notification guide-item-insertion-notification" role="alert"><span class="appbar-guide-notification-content-wrapper yt-valign"><span class="appbar-guide-notification-icon yt-sprite"></span><span class="appbar-guide-notification-text-content" aria-label="Subscription added">__NOTIFICATION_OVERLAY_MESSAGE__</span></span></div>
            </li>
            
                -->
      </div>
   </div>
</div>