{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'feed' %}
{% set pageName = 'feed' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = true %}

{%- block title -%}
Browse channels - {{ parent() }}
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block content %}
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="browse-items-primary">
            <ol id="section-list-guide_builder" class="section-list">
            {% from "common/browse/item_section.twig" import render as item_section %}
            {%- for shelf in yt.page.shelvesList -%}
            <li>
                {{ item_section(shelf.itemSectionRenderer) }}
            </li>
            {% endfor %}
            </ol>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}