{% extends "core.twig" %}
{% import 'core/macros.twig' as core %}
{% import 'common/appbar/appbar_nav.twig' as appbar_nav %}

{% set pageType = 'feed' %}
{% set pageName = 'feed' %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultAppbarVisibility = false %}
{% set enableSnapScaling = true %}

{%- block title -%}
Browse channels - {{ parent() }}
{% endblock %}

{%- block head_css  -%}
    {{ core.css('www-home-c4') }}
{% endblock %}

{% block content %}
    {% embed 'common/channels4/branded_page_v2.twig' %}
    {% import 'common/uix/lockup.twig' as lockup %}
    {% import 'core/spinner.twig' as spinner %}
    {% set brandedPageConfig = {
        'baseBoldTitles': true,
        'containerFlexWidth': true,
        'hasTopRow': true,
        'secondaryColumnHidden': true
    } %}
    {% block branded_page_primary_column_content %}
        <div id="browse-items-primary">
            <ol id="section-list-874807" class="section-list">
            {% import "common/uix/shelf.twig" as shelf %}
                {%- for shelfSlider in yt.page.shelvesList -%}
                {#{{ shelf|json_encode }}#}
                {% set shelfSliderContent = shelfSlider.itemSectionRenderer.contents.0.shelfRenderer %}
                {{ shelf.compact(shelfSlider, false) }}
            {% endfor %}
            </ol>
        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}