{# Render a guide subscription section. #}
{% macro render(section, addSeparator) %}
{% import "common/guide/guide_section.twig" as super %}
<li id="guide-subscriptions-section" class="guide-section hover-action-menu-trigger">
    <span class="guide-sort-container yt-uix-button-group"><button aria-expanded="false" type="button" class="guide-sort-button flip yt-uix-button yt-uix-button-hover-action-menu yt-uix-button-size-small yt-uix-button-has-icon yt-uix-button-empty" aria-label="Subscriptions sorting mode" aria-haspopup="true" onclick=";return false;" data-button-has-sibling-menu="true" data-guide-sort="2" aria-pressed="false"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-hover-action-menu yt-sprite"></span></span><span class="yt-uix-button-arrow yt-sprite"></span></button><ul class="yt-uix-button-menu yt-uix-button-menu-hover-action-menu hid" role="menu" aria-haspopup="true" style="min-width: 11px; left: 57px; top: 16px; display: none;"><li role="menuitem"><span class="guide-sort-choice yt-uix-button-menu-item" onclick=";return false;" checked="False" data-guide-sort="0">Most relevant</span></li><li role="menuitem"><span class="guide-sort-choice yt-uix-button-menu-item" onclick=";return false;" checked="False" data-guide-sort="1">New activity</span></li><li role="menuitem"><span class="yt-uix-button-icon-wrapper yt-uix-button-icon-checkbox"><span class="yt-uix-button-icon-dropdown-checked yt-sprite"></span></span><span class="guide-sort-choice yt-uix-button-menu-item" onclick=";return false;" checked="True" data-guide-sort="2">A-Z</span></li></ul></span>
    {{ super.title(section.formattedTitle) }}
    <div id="guide-subs-footer-container">
        <div id="guide-subscriptions-container">
            <div class="guide-channels-content yt-scrollbar">
                <ul id="guide-channels" class="guide-channels-list guide-item-container parent-list guide-infinite-list yt-uix-scroller filter-has-matches yt-uix-tdl" role="menu" data-scroller-mousewheel-listener="" data-scroller-scroll-listener="">
                    {{ super.items_list(section.items) }}
                </ul>
            </div>
        </div>
    </div>
    {% if addSeparator %}
    <hr class="guide-section-separator">
    {% endif %}
</li>
{% endmacro %}