{# Build the guide signin/signup promo #}
{% macro render(section, addSeparator) %}
<li class="guide-section guide-header signup-promo">
    <p>
       {{ getText(section.descriptiveText) }}
    </p>
    <div id="guide-builder-promo-buttons" class="signed-out clearfix">
       <a  href="https://accounts.google.com/ServiceLogin?service=youtube&amp;uilel=3&amp;hl=en&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252F%26feature%3Dsign_in_promo&amp;passive=true" class="yt-uix-button    yt-uix-button-primary yt-uix-button-size-default"><span class="yt-uix-button-content">{{ getText(section.actionText) }}</span></a>
    </div>
    {% if addSeparator %}
    <hr class="guide-section-separator">
    {% endif %}
 </li>
{% endmacro %}