{# Build a collapsible guide entry #}
{% macro render(content) %}
{% from "common/guide/guide_entry.twig" import render as guide_entry %}
<div class="guide-collapsible-item yt-uix-expander yt-uix-expander-collapsed" tabindex="0">
    <div class="yt-uix-expander-body">
        {% for item in content.expandableItems %}
            {% if item.guideEntryRenderer %}
                {{ guide_entry(item.guideEntryRenderer) }}
            {% endif %}
        {% endfor %}
        {{ _self.expander_toggle_button(content.collapserItem) }}
    </div>
    <div class="yt-uix-expander-collapsed-body">
        {{ _self.expander_toggle_button(content.expanderItem) }}
    </div>
</div>
{% endmacro %}

{# Build a collapsible guide entry's toggle button. #}
{% macro expander_toggle_button(data) %}
<button class="yt-uix-expander-head guide-view-more yt-valign">
    <span class="yt-valign-container">
        {{ data.text }}
    </span>
</button>
{% endmacro %}