{# Render a guide subscription section. #}
{% macro render(section, addSeparator) %}
{% import "common/guide/guide_section.twig" as super %}
<li id="guide-subscriptions-section" class="guide-section without-filter">
    {{ super.title(section.formattedTitle) }}
    <div id="guide-subs-footer-container">
        <div id="guide-subscriptions-container">
            <div class="guide-channels-content yt-scrollbar">
                <ul id="guide-channels" class="guide-channels-list guide-item-container parent-list guide-infinite-list yt-uix-scroller filter-has-matches yt-uix-tdl" role="menu" data-scroller-mousewheel-listener="" data-scroller-scroll-listener="">
                    {{ super.item_list(section.items) }}
                </ul>
            </div>
        </div>
    </div>
    {% if addSeparator %}
    <hr class="guide-section-separator">
    {% endif %}
</li>
{% endmacro %}