{%- macro render(data) -%}
    {% from "common/browse/item_section.twig" import render as item_section %}
    {% set rid = generateRid() %}
    <ol id="section-list-{{ rid }}" class="section-list">
        {%- for item in data.contents -%}
            {%- if item.itemSectionRenderer -%}
                <li>{{ item_section(item.itemSectionRenderer) }}</li>
            {%- endif -%}
        {%- endfor -%}
    </ol>
    {% set last = data.contents|last %}
    {% if last.continuationItemRenderer %}
        {% from 'common/uix/load_more_button.twig' import render as load_more %}
        {{ load_more(last.continuationItemRenderer.continuationEndpoint.continuationCommand.token, "section-list-" ~ rid) }}
    {% endif %}
{%- endmacro -%}