<div id="action-panel-rental-required" class="action-panel-content hid">
    <div id="watch-actions-rental-required">
        <strong>Rating is available when the video has been rented.</strong>
    </div>
</div>