{% import '/common/watch/watch7/action_panel/base.twig' as action_panel %}
<div id="action-panel-share" class="action-panel-content hid">
    <div id="watch-actions-share-loading">
        {{ action_panel.loading() }}
    </div>
    <div id="watch-actions-share-panel"></div>
</div>