<div id="watch7-sidebar" class="watch-sidebar">
    <div id="placeholder-playlist" class="watch-playlist player-height  hid"></div>
    <div id="watch7-sidebar-contents" class="watch-sidebar-gutter   yt-card yt-card-has-padding    yt-uix-expander yt-uix-expander-collapsed">
        <div id="watch7-sidebar-offer">
        </div>
        <div id="watch7-sidebar-ads">
            <div id="watch-channel-brand-div" class="" >
                <div id="watch-channel-brand-div-text">
                Advertisement
                </div>
                <div id="google_companion_ad_div">
                </div>
            </div>
        </div>
        <div id="watch7-sidebar-modules">
            <div class="watch-sidebar-section">
                {% include '/common/watch/watch7/sidebar/autoplay_module.twig' %}
            </div>
            <div class="watch-sidebar-section">
                <hr class="watch-sidebar-separation-line">
                <div class="watch-sidebar-body">
                <ul id="watch-related" class="video-list">
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-radio">
                        <a href="/watch?v=dQw4w9WgXcQ&amp;list=RDdQw4w9WgXcQ&amp;start_radio=1" class="related-playlist yt-pl-thumb-link spf-link  mix-playlist resumable-list vve-check yt-uix-sessionlink      spf-link " data-sessionlink="itct=CC4QozAYASITCPCb3sSz6toCFcuifgodz50MGCj4HTIKbGlzdF9vdGhlckjEu4GtvZiOhnU"  data-secondary-video-url="/watch?v=djV11Xbc914&amp;list=RDdQw4w9WgXcQ&amp;start_radio=1" rel="spf-prefetch" data-visibility-tracking="CC4QozAYASITCPCb3sSz6toCFcuifgodz50MGCj4HQ==">
                            <span class=" yt-mix-thumb yt-pl-thumb">
                            <span class="video-thumb  yt-thumb yt-thumb-168">
                            <span class="yt-thumb-default">
                            <span class="yt-thumb-clip">
                            <img aria-hidden="true" data-ytimg="1" width="168" data-thumb="https://i.ytimg.com/vi/dQw4w9WgXcQ/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLBf45ycDkHw60O072DkeCeAw0TV-w" alt="" src="{{ PIXEL }}" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" >
                            <span class="vertical-align"></span>
                            </span>
                            </span>
                            </span>
                            <span class="sidebar">
                            <span class="yt-pl-sidebar-content yt-valign">
                            <span class="yt-valign-container">
                            <span class="formatted-video-count-label">
                            <b>50+</b> videos
                            </span>
                            <span class="yt-pl-icon yt-pl-icon-mix yt-sprite"></span>
                            </span>
                            </span>
                            </span>
                            <span class="yt-pl-thumb-overlay">
                            <span class="yt-pl-thumb-overlay-content">
                            <span class="play-icon yt-sprite"></span>
                            <span class="yt-pl-thumb-overlay-text">
                            Play all
                            </span>
                            </span>
                            </span>
                            <span class="yt-pl-watch-queue-overlay">
                                <span class="thumb-menu dark-overflow-action-menu video-actions">
                                    <button onclick=";return false;" class="yt-uix-button-reverse flip addto-watch-queue-menu spf-nolink hide-until-delayloaded yt-uix-button yt-uix-button-dark-overflow-action-menu yt-uix-button-size-default yt-uix-button-has-icon no-icon-markup yt-uix-button-empty" type="button" aria-haspopup="true" aria-expanded="false" >
                                        <span class="yt-uix-button-arrow yt-sprite"></span>
                                        <ul class="watch-queue-thumb-menu yt-uix-button-menu yt-uix-button-menu-dark-overflow-action-menu hid">
                                        <li role="menuitem" class="overflow-menu-choice addto-watch-queue-menu-choice addto-watch-queue-play-now yt-uix-button-menu-item" data-action="play-now" onclick=";return false;"  data-video-ids="dQw4w9WgXcQ" data-list-id="RDdQw4w9WgXcQ"><span class="addto-watch-queue-menu-text">Play now</span></li>
                                        </ul>
                                    </button>
                                </span>
                                <button class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button addto-queue-button video-actions spf-nolink hide-until-delayloaded addto-tv-queue-button yt-uix-tooltip" type="button" onclick=";return false;" title="Queue" data-video-ids="dQw4w9WgXcQ" data-style="tv-queue" data-list-id="RDdQw4w9WgXcQ"></button>
                            </span>
                            </span>
                            <span dir="ltr" class="title" title="Mix - Rick Astley - Never Gonna Give You Up (Video)">Mix - Rick Astley - Never Gonna Give You Up (Video)</span><span class="stat attribution">YouTube</span>
                        </a>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=yPYZpwSpKmA" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CC0QpDAYAiITCPCb3sSz6toCFcuifgodz50MGCj4HTIGcmVsbWZ1SMS7ga29mI6GdQ"  title="Rick Astley - Together Forever (Video)" rel=" spf-prefetch nofollow" data-visibility-tracking="CC0QpDAYAiITCPCb3sSz6toCFcuifgodz50MGCj4HUDg1KSl8LSG-8gB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-13393">
                            Rick Astley - Together Forever (Video)
                            </span>
                            <span class="accessible-description" id="description-id-13393">
                            - Duration: 3:25.
                            </span>
                            <span class="stat attribution"><span class="" >Official Rick Astley</span></span>
                            <span class="stat view-count">52,388,222 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=yPYZpwSpKmA" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CC0QpDAYAiITCPCb3sSz6toCFcuifgodz50MGCj4HTIGcmVsbWZ1SMS7ga29mI6GdQ"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CC0QpDAYAiITCPCb3sSz6toCFcuifgodz50MGCj4HUDg1KSl8LSG-8gB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="yPYZpwSpKmA"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/yPYZpwSpKmA/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLA6g5QWF95TcEexTR3bbxVUIgeZBA" alt="" src="{{ PIXEL }}" ><span class="video-time">3:25</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=cMtaFMZxOjk" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Guardians of the Galaxy: Awesome Mix Vol. 1 &amp; Vol. 2 (Full Soundtrack)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HUC59MSzzMLW5XA=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-920876">
                            Guardians of the Galaxy: Awesome Mix Vol. 1 &amp; Vol. 2 (Full Soundtrack)
                            </span>
                            <span class="accessible-description" id="description-id-920876">
                            - Duration: 1:34:36.
                            </span>
                            <span class="stat attribution"><span class="" >Library Music</span></span>
                            <span class="stat view-count">2,435,512 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=cMtaFMZxOjk" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCwQpDAYAyITCPCb3sSz6toCFcuifgodz50MGCj4HUC59MSzzMLW5XA=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="cMtaFMZxOjk"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/cMtaFMZxOjk/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLDrcqb1No9S3kw1zu7pSyphF-qyjg" alt="" src="{{ PIXEL }}" ><span class="video-time">1:34:36</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=pIgZ7gMze7A" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCsQpDAYBCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Wham! - Wake Me Up Before You Go-Go (Official Video)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCsQpDAYBCITCPCb3sSz6toCFcuifgodz50MGCj4HUCw982Z4L2GxKQB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-878418">
                            Wham! - Wake Me Up Before You Go-Go (Official Video)
                            </span>
                            <span class="accessible-description" id="description-id-878418">
                            - Duration: 3:51.
                            </span>
                            <span class="stat attribution"><span class="" >Whamtv</span></span>
                            <span class="stat view-count">209,426,517 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=pIgZ7gMze7A" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCsQpDAYBCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCsQpDAYBCITCPCb3sSz6toCFcuifgodz50MGCj4HUCw982Z4L2GxKQB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="pIgZ7gMze7A"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/pIgZ7gMze7A/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLDX5U0l77KSIhS3GpqiDqOs8dNQdg" alt="" src="{{ PIXEL }}" ><span class="video-time">3:51</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-playlist"><a href="/watch?v=OPf0YbXqDm0&amp;list=PLMC9KNkIncKtPzgY-5rmhvj7fax8fdxoj" class="related-playlist yt-pl-thumb-link spf-link  vve-check yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCoQojAYBSITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsbGlzdEjEu4GtvZiOhnU"  rel="spf-prefetch" data-visibility-tracking="CCoQojAYBSITCPCb3sSz6toCFcuifgodz50MGCj4HQ==">  <span class=" yt-pl-thumb">
                        <span class="video-thumb  yt-thumb yt-thumb-168"
                            >
                        <span class="yt-thumb-default">
                        <span class="yt-thumb-clip">
                        <img aria-hidden="true" data-ytimg="1" width="168" data-thumb="https://i.ytimg.com/vi/OPf0YbXqDm0/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLAJjHXZ-SRjcpNWlZH3jn1q8D02Lg" alt="" src="{{ PIXEL }}" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)" >
                        <span class="vertical-align"></span>
                        </span>
                        </span>
                        </span>
                        <span class="sidebar">
                        <span class="yt-pl-sidebar-content yt-valign">
                        <span class="yt-valign-container">
                        <span class="formatted-video-count-label">
                        <b>197</b> videos
                        </span>
                        <span class="yt-pl-icon yt-pl-icon-reg yt-sprite"></span>
                        </span>
                        </span>
                        </span>
                        <span class="yt-pl-thumb-overlay">
                        <span class="yt-pl-thumb-overlay-content">
                        <span class="play-icon yt-sprite"></span>
                        <span class="yt-pl-thumb-overlay-text">
                        Play all
                        </span>
                        </span>
                        </span>
                        </span>
                        <span dir="ltr" class="title" title="Pop Music Playlist: Timeless Pop Hits (Updated Weekly 2018)">Pop Music Playlist: Timeless Pop Hits (Updated Weekly 2018)</span><span class="stat attribution"><span class="" >#RedMusic: Just Hits</span></span></a>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=q8w1d01Y2vY" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCkQpDAYBiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Michael Jackson - Smooth Criminal (Single Version) HD" rel=" spf-prefetch nofollow" data-visibility-tracking="CCkQpDAYBiITCPCb3sSz6toCFcuifgodz50MGCj4HUD2tePq9K6N5qsB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-324515">
                            Michael Jackson - Smooth Criminal (Single Version) HD
                            </span>
                            <span class="accessible-description" id="description-id-324515">
                            - Duration: 4:01.
                            </span>
                            <span class="stat attribution"><span class="" >moogl3s</span></span>
                            <span class="stat view-count">10,826,344 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=q8w1d01Y2vY" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCkQpDAYBiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCkQpDAYBiITCPCb3sSz6toCFcuifgodz50MGCj4HUD2tePq9K6N5qsB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="q8w1d01Y2vY"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/q8w1d01Y2vY/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLChzX_9dPDVzOUJlgv5bAyySIrbow" alt="" src="{{ PIXEL }}" ><span class="video-time">4:01</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=rog8ou-ZepE" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCgQpDAYByITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Vanilla Ice - Ice Ice Baby" rel=" spf-prefetch nofollow" data-visibility-tracking="CCgQpDAYByITCPCb3sSz6toCFcuifgodz50MGCj4HUCR9eX8rpSPxK4B" >
                            <span dir="ltr" class="title" aria-describedby="description-id-831692">
                            Vanilla Ice - Ice Ice Baby
                            </span>
                            <span class="accessible-description" id="description-id-831692">
                            - Duration: 4:01.
                            </span>
                            <span class="stat attribution"><span class="" >vanillaiceVEVO</span></span>
                            <span class="stat view-count">229,671,082 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=rog8ou-ZepE" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCgQpDAYByITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCgQpDAYByITCPCb3sSz6toCFcuifgodz50MGCj4HUCR9eX8rpSPxK4B" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="rog8ou-ZepE"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/rog8ou-ZepE/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLCZTN1mwFg3m32j8ODt-q_9boaAYQ" alt="" src="{{ PIXEL }}" ><span class="video-time">4:01</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=Gs069dndIYk" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCcQpDAYCCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Earth, Wind &amp; Fire - September" rel=" spf-prefetch nofollow" data-visibility-tracking="CCcQpDAYCCITCPCb3sSz6toCFcuifgodz50MGCj4HUCJw_TO3d7O5ho=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-405059">
                            Earth, Wind &amp; Fire - September
                            </span>
                            <span class="accessible-description" id="description-id-405059">
                            - Duration: 3:36.
                            </span>
                            <span class="stat attribution"><span class="" >EarthWindandFireVEVO</span></span>
                            <span class="stat view-count">190,641,764 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=Gs069dndIYk" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCcQpDAYCCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCcQpDAYCCITCPCb3sSz6toCFcuifgodz50MGCj4HUCJw_TO3d7O5ho=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="Gs069dndIYk"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/Gs069dndIYk/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLDTw3KGaMo5R5nQAeyvQSF6BrGenQ" alt="" src="{{ PIXEL }}" ><span class="video-time">3:36</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=oRdxUFDoQe0" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCYQpDAYCSITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Michael Jackson - Beat It (Official Video)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCYQpDAYCSITCPCb3sSz6toCFcuifgodz50MGCj4HUDtg6GHharci6EB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-65743">
                            Michael Jackson - Beat It (Official Video)
                            </span>
                            <span class="accessible-description" id="description-id-65743">
                            - Duration: 4:59.
                            </span>
                            <span class="stat attribution"><span class="" >Michael Jackson</span></span>
                            <span class="stat view-count">351,364,975 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=oRdxUFDoQe0" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCYQpDAYCSITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCYQpDAYCSITCPCb3sSz6toCFcuifgodz50MGCj4HUDtg6GHharci6EB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="oRdxUFDoQe0"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/oRdxUFDoQe0/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLB_AOvmBsQAKM9go0z94R7qRh-QsQ" alt="" src="{{ PIXEL }}" ><span class="video-time">4:59</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=ggALN-UkQ88" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCUQpDAYCiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Greatest Hits Of The 80&#39;s - 80s Music Hits - Best Songs of The 80s" rel=" spf-prefetch nofollow" data-visibility-tracking="CCUQpDAYCiITCPCb3sSz6toCFcuifgodz50MGCj4HUDPh5Gp_uaCgIIB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-515688">
                            Greatest Hits Of The 80&#39;s - 80s Music Hits - Best Songs of The 80s
                            </span>
                            <span class="accessible-description" id="description-id-515688">
                            - Duration: 2:30:07.
                            </span>
                            <span class="stat attribution"><span class="" >Time Music</span></span>
                            <span class="stat view-count">5,622,850 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=ggALN-UkQ88" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCUQpDAYCiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCUQpDAYCiITCPCb3sSz6toCFcuifgodz50MGCj4HUDPh5Gp_uaCgIIB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="ggALN-UkQ88"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/ggALN-UkQ88/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLCD42TC3bRp2b5mosDJ5yE-Ut7cHg" alt="" src="{{ PIXEL }}" ><span class="video-time">2:30:07</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=FTQbiNvZqaY" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCQQpDAYCyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Toto - Africa (Video)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCQQpDAYCyITCPCb3sSz6toCFcuifgodz50MGCj4HUCm0-bejfGGmhU=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-486512">
                            Toto - Africa (Video)
                            </span>
                            <span class="accessible-description" id="description-id-486512">
                            - Duration: 4:35.
                            </span>
                            <span class="stat attribution"><span class="" >Toto Toto</span></span>
                            <span class="stat view-count">310,864,690 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=FTQbiNvZqaY" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCQQpDAYCyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCQQpDAYCyITCPCb3sSz6toCFcuifgodz50MGCj4HUCm0-bejfGGmhU=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="FTQbiNvZqaY"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/FTQbiNvZqaY/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLC_5Ni2mOPN-OAyVwpS_66BzHpXtw" alt="" src="{{ PIXEL }}" ><span class="video-time">4:35</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=I_izvAbhExY" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCMQpDAYDCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Bee Gees - Stayin&#39; Alive (1977)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCMQpDAYDCITCPCb3sSz6toCFcuifgodz50MGCj4HUCWpoS3wPes_CM=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-930571">
                            Bee Gees - Stayin&#39; Alive (1977)
                            </span>
                            <span class="accessible-description" id="description-id-930571">
                            - Duration: 4:03.
                            </span>
                            <span class="stat attribution"><span class="" >beegees</span></span>
                            <span class="stat view-count">246,531,218 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=I_izvAbhExY" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCMQpDAYDCITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCMQpDAYDCITCPCb3sSz6toCFcuifgodz50MGCj4HUCWpoS3wPes_CM=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="I_izvAbhExY"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/I_izvAbhExY/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLCZ5-aXMM07G1BpozLAcM_IeuVazA" alt="" src="{{ PIXEL }}" ><span class="video-time">4:03</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=rY0WxgSXdEE" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCIQpDAYDSITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Queen - Another One Bites the Dust (Official Video)" rel=" spf-prefetch nofollow" data-visibility-tracking="CCIQpDAYDSITCPCb3sSz6toCFcuifgodz50MGCj4HUDB6N2k4NjFxq0B" >
                            <span dir="ltr" class="title" aria-describedby="description-id-343338">
                            Queen - Another One Bites the Dust (Official Video)
                            </span>
                            <span class="accessible-description" id="description-id-343338">
                            - Duration: 3:43.
                            </span>
                            <span class="stat attribution"><span class="" >Queen Official</span></span>
                            <span class="stat view-count">186,105,491 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=rY0WxgSXdEE" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCIQpDAYDSITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCIQpDAYDSITCPCb3sSz6toCFcuifgodz50MGCj4HUDB6N2k4NjFxq0B" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="rY0WxgSXdEE"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/rY0WxgSXdEE/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLDun2H7eP23mREBwPNYWCPG9i66Ng" alt="" src="{{ PIXEL }}" ><span class="video-time">3:43</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=wFWDGTVYqE8" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCEQpDAYDiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Footloose - Kenny Loggins" rel=" spf-prefetch nofollow" data-visibility-tracking="CCEQpDAYDiITCPCb3sSz6toCFcuifgodz50MGCj4HUDP0OKqk-PgqsAB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-303529">
                            Footloose - Kenny Loggins
                            </span>
                            <span class="accessible-description" id="description-id-303529">
                            - Duration: 3:49.
                            </span>
                            <span class="stat attribution"><span class="" >caag4d</span></span>
                            <span class="stat view-count">67,177,061 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=wFWDGTVYqE8" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCEQpDAYDiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCEQpDAYDiITCPCb3sSz6toCFcuifgodz50MGCj4HUDP0OKqk-PgqsAB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="wFWDGTVYqE8"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/wFWDGTVYqE8/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLC1u7D3VoAZDe1nkusyR1kl23jRuA" alt="" src="{{ PIXEL }}" ><span class="video-time">3:49</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=MrTz5xjmso4" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCAQpDAYDyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Sean Kingston - Beautiful Girls" rel=" spf-prefetch nofollow" data-visibility-tracking="CCAQpDAYDyITCPCb3sSz6toCFcuifgodz50MGCj4HUCO5ZrH8fy82jI=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-390832">
                            Sean Kingston - Beautiful Girls
                            </span>
                            <span class="accessible-description" id="description-id-390832">
                            - Duration: 4:18.
                            </span>
                            <span class="stat attribution"><span class="" >seankingston</span></span>
                            <span class="stat view-count">340,312,241 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=MrTz5xjmso4" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CCAQpDAYDyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CCAQpDAYDyITCPCb3sSz6toCFcuifgodz50MGCj4HUCO5ZrH8fy82jI=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="MrTz5xjmso4"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/MrTz5xjmso4/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLCKOF6-suXIshT1Rtoh9EBqF5BwsQ" alt="" src="{{ PIXEL }}" ><span class="video-time">4:18</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=4fndeDfaWCg" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB8QpDAYECITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Backstreet Boys - I Want It That Way" rel=" spf-prefetch nofollow" data-visibility-tracking="CB8QpDAYECITCPCb3sSz6toCFcuifgodz50MGCj4HUCosOm-g6_3_OEB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-726718">
                            Backstreet Boys - I Want It That Way
                            </span>
                            <span class="accessible-description" id="description-id-726718">
                            - Duration: 3:40.
                            </span>
                            <span class="stat attribution"><span class="" >Backstreet Boys</span></span>
                            <span class="stat view-count">455,905,951 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=4fndeDfaWCg" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB8QpDAYECITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CB8QpDAYECITCPCb3sSz6toCFcuifgodz50MGCj4HUCosOm-g6_3_OEB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="4fndeDfaWCg"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/4fndeDfaWCg/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLBDFc1Wy-4gOPj698kspzVo8TewJg" alt="" src="{{ PIXEL }}" ><span class="video-time">3:40</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=cc91EfoBh8A" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB4QpDAYESITCPCb3sSz6toCFcuifgodz50MGCj4HTIGcmVsbWZ1SMS7ga29mI6GdQ"  title="Rick Astley - Angels On My Side" rel=" spf-prefetch nofollow" data-visibility-tracking="CB4QpDAYESITCPCb3sSz6toCFcuifgodz50MGCj4HUDAj4bQn6Ld53E=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-344536">
                            Rick Astley - Angels On My Side
                            </span>
                            <span class="accessible-description" id="description-id-344536">
                            - Duration: 3:26.
                            </span>
                            <span class="stat attribution"><span class="" >Official Rick Astley</span></span>
                            <span class="stat view-count">4,793,202 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=cc91EfoBh8A" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB4QpDAYESITCPCb3sSz6toCFcuifgodz50MGCj4HTIGcmVsbWZ1SMS7ga29mI6GdQ"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CB4QpDAYESITCPCb3sSz6toCFcuifgodz50MGCj4HUDAj4bQn6Ld53E=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="cc91EfoBh8A"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/cc91EfoBh8A/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLDrk4ly5qK5gF0AF_7DMPdwuOeghQ" alt="" src="{{ PIXEL }}" ><span class="video-time">3:26</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=ZyhrYis509A" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB0QpDAYEiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Aqua - Barbie Girl" rel=" spf-prefetch nofollow" data-visibility-tracking="CB0QpDAYEiITCPCb3sSz6toCFcuifgodz50MGCj4HUDQp-fZouyalGc=" >
                            <span dir="ltr" class="title" aria-describedby="description-id-568293">
                            Aqua - Barbie Girl
                            </span>
                            <span class="accessible-description" id="description-id-568293">
                            - Duration: 3:22.
                            </span>
                            <span class="stat attribution"><span class="" >AquaVEVO</span></span>
                            <span class="stat view-count">492,675,531 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=ZyhrYis509A" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CB0QpDAYEiITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CB0QpDAYEiITCPCb3sSz6toCFcuifgodz50MGCj4HUDQp-fZouyalGc=" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="ZyhrYis509A"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/ZyhrYis509A/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLAh_fkuIILxH45VW3-ukmUfI0rE0Q" alt="" src="{{ PIXEL }}" ><span class="video-time">3:22</span></span></a>
                        </div>
                    </li>
                    <li class="video-list-item related-list-item  show-video-time related-list-item-compact-video">
                        <div class="content-wrapper">
                            <a href="/watch?v=oGpFcHTxjZs" class=" content-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CBwQpDAYEyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  title="Tina Turner - What&#39;s Love Got To Do With It" rel=" spf-prefetch nofollow" data-visibility-tracking="CBwQpDAYEyITCPCb3sSz6toCFcuifgodz50MGCj4HUCbm8anh66RtaAB" >
                            <span dir="ltr" class="title" aria-describedby="description-id-161029">
                            Tina Turner - What&#39;s Love Got To Do With It
                            </span>
                            <span class="accessible-description" id="description-id-161029">
                            - Duration: 3:48.
                            </span>
                            <span class="stat attribution"><span class="" >Tina Turner Official</span></span>
                            <span class="stat view-count">38,421,295 views</span>
                            </a>
                        </div>
                        <div class="thumb-wrapper">
                            <a href="/watch?v=oGpFcHTxjZs" class=" vve-check thumb-link spf-link  yt-uix-sessionlink      spf-link " data-sessionlink="itct=CBwQpDAYEyITCPCb3sSz6toCFcuifgodz50MGCj4HTIHcmVsYXRlZEjEu4GtvZiOhnU"  tabindex="-1" rel=" spf-prefetch nofollow" data-visibility-tracking="CBwQpDAYEyITCPCb3sSz6toCFcuifgodz50MGCj4HUCbm8anh66RtaAB" aria-hidden="true"><span class="yt-uix-simple-thumb-wrap yt-uix-simple-thumb-related" tabindex="0" data-vid="oGpFcHTxjZs"><img aria-hidden="true" style="top: 0px" width="168" height="94" data-thumb="https://i.ytimg.com/vi/oGpFcHTxjZs/hqdefault.jpg?sqp=-oaymwEWCKgBEF5IWvKriqkDCQgBFQAAiEIYAQ==&amp;rs=AOn4CLD6_Zw0uW8ZFVT6SO1wFWxiARJnFQ" alt="" src="{{ PIXEL }}" ><span class="video-time">3:48</span></span></a>
                        </div>
                    </li>
                    <div id="watch-more-related" class="hid">
                        <li id="watch-more-related-loading">
                            Loading more suggestions...
                        </li>
                    </div>
                    <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-expander" type="button" onclick=";return false;" id="watch-more-related-button" data-button-action="yt.www.watch.related.loadMore" data-continuation="CBQSJhILZFF3NHc5V2dYY1HAAQDIAQDgAQGiAg0o____________AUAAGAAq1AEI3u7ztte63Zp2COTB1M2NrNKG6AEI4NSkpfC0hvvIAQi59MSzzMLW5XAIsPfNmeC9hsSkAQiJ4seqlImF068BCPa14-r0ro3mqwEIkfXl_K6Uj8SuAQiJw_TO3d7O5hoI7YOhh4Wq3IuhAQjPh5Gp_uaCgIIBCKbT5t6N8YaaFQiWpoS3wPes_CMIwejdpODYxcatAQjP0OKqk-PgqsABCI7lmsfx_LzaMgiosOm-g6_3_OEBCMCPhtCfot3ncQjQp-fZouyalGcIm5vGp4eukbWgAQ%3D%3D"><span class="yt-uix-button-content">Show more</span></button>
                </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>