{% macro render(list, eventData) %}
<ul class="yt-badge-list">
    {% if eventData.startTime %}
    <li class="yt-badge-item">
        <span class="yt-badge localized-date" data-timestamp="{{ eventData.startTime }}" data-format="weekdayshorttime"></span>
    </li>
    {% endif %}
    {% for item in list %}
        {% if item.metadataBadgeRenderer %}
            {% set this = item.metadataBadgeRenderer %}
            <li class="yt-badge-item">
                <span class="yt-badge {{ this.style == "BADGE_STYLE_TYPE_LIVE_NOW" ? "yt-badge-live" }}">{{ this.label }}</span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endmacro %}