{% import '/core/spinner.twig' as spinner %}

<div class="yt-dialog hid " {{ id ? ('id="' ~ id ~ '"')|raw }}>
    <div class="yt-dialog-base">
        <span class="yt-dialog-align"></span>
        <div class="yt-dialog-fg" role="dialog">
            <div class="yt-dialog-fg-content">
                <div class="yt-dialog-loading">
                    <div class="yt-dialog-waiting-content">
                        {{ spinner.render(yt.msgs.loading) }}
                    </div>
                </div>
                <div class="yt-dialog-content">
                    {% block dialog_content %}{% endblock %}
                </div>
                <div class="yt-dialog-working">
                    <div class="yt-dialog-working-overlay"></div>
                    <div class="yt-dialog-working-bubble">
                        <div class="yt-dialog-waiting-content">
                            {{ spinner.render(yt.msgs.working) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="yt-dialog-focus-trap" tabindex="0"></div>
        </div>
    </div>
</div>