{%- macro render(data, target) -%}
    <div class="yt-uix-menu yt-uix-videoactionmenu " data-menu-content-id="{{ data.contentId }}" data-video-id="{{ data.videoId }}">
        {{ target }}
    </div>
{%- endmacro -%}