{% set pageType = '404' %}

{%- block title -%}
<title>404 Not Found</title>
{% endblock %}

{% block header %}
{% endblock %}

{%- block head_css -%}
<head>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-38810586-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-38810586-1');
    </script>
    <meta charset="utf-8">
    <meta content="IE=Edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
    <meta name="description" content="404 Not Found">

    <link rel="canonical" href="https://www.youtube.com/404/">




    <link rel="shortcut icon" href="https://www.youtube.com/yts/img/favicon-vfl8qSV2F.ico" type="image/x-icon">
    <link rel="icon" href="https://www.youtube.com/yts/img/favicon_32-vflOogEID.png" sizes="32x32">
    <link rel="icon" href="https://www.youtube.com/yts/img/favicon_48-vflVjB_Qk.png" sizes="48x48">
    <link rel="icon" href="https://www.youtube.com/yts/img/favicon_96-vflW9Ec0w.png" sizes="96x96">
    <link rel="icon" href="https://www.youtube.com/yts/img/favicon_144-vfliLAfaB.png" sizes="144x144">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=YouTube+Sans:300,400,500,700">

    <link rel="stylesheet" href="https://www.youtube.com/404/static/compiled/index.min.css">
    <link rel="preconnect" href="//lh3.googleusercontent.com">
  <script id="ytfixscript">(function () {
function replaceCounters (state) {
            if (!state.m) {
                state.m = new MutationObserver (replaceCountersCallback);
                state.opt = { subtree: true, characterData: true };
                }
            function replaceCountersEach (x) {
                x.setAttribute ('ytfix', '');
                const ee = x.querySelectorAll ('#metadata-line span');
                if (ee.length != 2)
                    return;
                const e = ee [0];
                e.__ytfix_parent = x;
                replaceCountersText (e.firstChild);
                state.m.observe (e, state.opt);
                }
            document.querySelectorAll ('ytd-compact-video-renderer:not([ytfix])').forEach (replaceCountersEach);
            document.querySelectorAll ('ytd-grid-video-renderer:not([ytfix])').forEach (replaceCountersEach);
            document.querySelectorAll ('ytd-rich-item-renderer:not([ytfix])').forEach (replaceCountersEach);
            document.querySelectorAll ('ytd-video-renderer:not([ytfix])').forEach (replaceCountersEach);
            }
function replaceCountersCallback (mm) {
            for (let i = mm.length; --i >= 0; ) {
                const m = mm [i];
                if (m.type == 'characterData')
                    replaceCountersText (m.target);
                }
            }
function replaceCountersText (x) {
            const par = x.parentNode.__ytfix_parent;
            if (!par)
                return;
            const tgt = getCounterText (par);
            if (tgt && x.textContent != tgt)
                x.textContent = tgt;
            }
function getCounterText (x) {
            try { return x.__data.data.viewCountText.simpleText; } catch (ex) { }
            try { return x.__data.data.content.videoRenderer.viewCountText.simpleText; } catch (ex) { }
            //console.log ('no viewers text found for:', x);
            return undefined;
            }
let ints = [
{ call: replaceCounters, params: [{}] },
];
function InjectInterval () {
            for (let i = ints.length; --i >= 0; ) {
                const Q = ints [i];
                try { Q.call.apply (this, Q.params); }
                catch (e) { }
                }
            }
setInterval (InjectInterval, 1000);
console.log ("Fixes injected");
}) ();</script></head>
{% endblock %}

{%- block appbarContent -%}
   {% set appbarContents = {
      0: {
         'title': 'Home',
         'href': '/',
         'selected': true
      },
      1: {
         'title': 'Trending',
         'href': '/feed/trending'
      }
   } %}
   {{ appbar_nav.render(appbarContents) }}
{% endblock %}

{% block content %}
<main class="yt-main">
<div class="not-found">
  <div class="not-found-content">
    <img class="not-found-content__image" src="https://kstatic.googleusercontent.com/files/a22b333e98d3d0a9f5944432f5c7bea225e0e97e26a14b9e107a0ec28750b54f111f6fc96064f09cafe16df27115ecdc521b1f055f1455b3a7c90ac07f37e20e" alt="Monkey Image">

      <p class="not-found-content__paragraph">This page isn't available. Sorry about that.</p>
      <p class="not-found-content__paragraph">Try searching for something else.</p>

    <div class="not-found-search">
      <a class="not-found-search__container" href="https://www.youtube.com/" title="YouTube">
        <img class="not-found-search__logo" src="https://kstatic.googleusercontent.com/files/936c9d53b930432184bd6bee3004494e5ba78d0e89ec25541a572e43256947fcad73b01bfac658cb2ffc3663488781b43f9fec9f56ec9b9150d757603b410201" alt="YouTube">
      </a>

      <form id="search-form" lb-auto-init="NotFoundSearchForm" class="not-found-search__form js-search-form lb--initialized" action="javascript:void(0);">
        <div class="not-found-search__field">
          <input class="not-found-search__input" type="text" aria-label="Search" autocomplete="off" name="textInput" title="Search" placeholder="Search">
        </div>
        <button id="search-btn" class="not-found-search__search-button" type="submit" aria-label="Search">
          <span class="not-found-search__search-icon"></span>
        </button>
      </form>
    </div>
  </div>
</div>    </main>
{% endblock %}