{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set appbarEnabled = true %}
{% set defaultGuideVisibility = true %}
{% set defaultApbarVisibility = false %}

{%- block title -%}
All comments on Never Gonna Give You Up - YouTube
{%- endblock -%}

{%- block head_css -%}
{{ core.css("www-home-c4") }}
{%- endblock -%}

{%- block content -%}
{%- embed "common/channels4/branded_page_v2.twig" -%}
{%- set brandedPageConfig = {
    baseBoldTitles: true,
    containerFlexWidth: true,
    secondaryColumnHidden: true
} -%}

{%- block branded_page_primary_column_content -%}
<div class="debug hid">{{ yt.page|json_encode }}</div>
<div id="watch-response" class="clearfix">
    <div id="watch-response-header" class="clearfix"></div>
    <div id="watch-response-content">
        {% import '/common/watch/watch7/action_panel/base.twig' as action_panel %}
        <div id="watch-discussion" class="branded-page-box">
            
        </div>
    </div>
</div>
{%- endblock -%}

{%- endembed -%}
{%- endblock -%}