{% extends "core.twig" %}

{% set pageType = 'attribution' %}

{%- block head_css -%}
<link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-attribution-webp-vflhQnyPy.css" name="www-attribution"
  class="css-httpssytimgcomytscssbinwwwattributionwebpvflhQnyPycss">
{% endblock %}

{%- block content -%}
<div id="attribution-container" class="ytg-base">
  <h2>Video Attribution Information</h2>
  <div class="video-details">
    <div class="video-entry">
      <div>
        <span class=" ux-thumb-wrap contains-addto"><a href="/watch?v={{ yt.page.videoId }}" class="yt-uix-sessionlink"
            aria-hidden="true" data-sessionlink="ei=xrIPYNyqOM_XgAeouZH4Bg"> <span
              class="video-thumb  yt-thumb yt-thumb-288">
              <span class="yt-thumb-default">
                <span class="yt-thumb-clip">

                  <img alt="" aria-hidden="true" data-ytimg="1" onload=";window.__ytRIL &amp;&amp; __ytRIL(this)"
                    src="//i.ytimg.com/vi/{{ yt.page.videoId }}/mqdefault.jpg" width="288">

                  <span class="vertical-align"></span>
                </span>
              </span>
            </span>
          </a> <span class="thumb-menu dark-overflow-action-menu video-actions">
          </span>


          <button
            class="yt-uix-button yt-uix-button-size-small yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup addto-button video-actions spf-nolink hide-until-delayloaded addto-watch-later-button-sign-in yt-uix-tooltip"
            type="button" onclick=";return false;" role="button" title="Watch later"
            data-button-menu-id="shared-addto-watch-later-login" data-video-ids="{{ yt.page.videoId }}"><span
              class="yt-uix-button-arrow yt-sprite"></span></button>
        </span>
      </div>
      <p>
        <span class="video-title">{{ yt.page.title }}</span>
      </p>
    </div>
  </div>

</div>
{% endblock %}