{#
    Implements a general insertion point for error pages.
#}
{% extends "core.twig" %}
{% import "core/macros.twig" as core %}

{% set enableSnapScaling = false %}

{%- block head_css -%}
{{ core.css("www-error") }}
{%- endblock -%}

{% set pageType = "oops-content" %}

{%- block title -%}
Oops! Something went wrong. - {{ parent() }}
{%- endblock -%}

{%- block content -%}
<div class="yt-card yt-card-has-padding">
    <img src="/yts/img/tv_stack-vflmeOpv_.png" alt="Sorry, something went wrong! Our tubes must be clogged." title="Sorry, something went wrong! Our tubes must be clogged.">
    <h1 style="margin-bottom: 4px;">Oops!</h1>
    <span>Something went wrong. Our tubes must be clogged.</span>
</div>
{%- endblock -%}