<button id="a11y-skip-nav" class="skip-nav" data-target-id="main" tabindex="3">
Skip navigation
</button>
<div id="yt-masthead">
   <div class="yt-masthead-logo-container ">
      {% if appbarEnabled %}
      <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-text yt-uix-button-empty yt-uix-button-has-icon appbar-guide-toggle appbar-guide-clickable-ancestor" type="button" onclick=";return false;" id="appbar-guide-button" aria-controls="appbar-guide-menu" aria-label="Guide"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-appbar-guide yt-sprite"></span></span></button>
      <div id="appbar-main-guide-notification-container"></div>
      {% endif %}
      <span id="yt-masthead-logo-fragment"><a href="/" class="masthead-logo-renderer yt-uix-sessionlink      spf-link " data-sessionlink="itct=CAUQsV4iEwji18z73-raAhUQO38KHYD9Cikojh4"  id="logo-container" title="YouTube Home">  <span title="YouTube Home" class="logo masthead-logo-renderer-logo yt-sprite"></span>
      </a></span>
   </div>
   <div id="yt-masthead-signin">
      {% if yt.debugger %}
      <button class="yt-uix-button yt-uix-button-opacity yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty" title="Debugger">
         <span class="yt-uix-button-icon-wrapper">
            <span class="yt-uix-button-icon yt-uix-button-icon-settings-material yt-sprite"></span>
         </span>
      </button>
      {% endif %}
      {% if yt.experiment.creatorMenu %}
      <div id="yt-masthead-creation-menu" class="yt-uix-clickcard" data-card-class="yt-scrollbar yt-masthead-creation-clickcard"><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default yt-uix-button-empty yt-uix-button-has-icon no-icon-markup yt-uix-clickcard-target" type="button" onclick=";return false;" aria-haspopup="true" aria-label="Create a video or post" id="yt-masthead-creation-button" data-force-position="true" data-orientation="vertical" data-position="bottomleft" data-position-fixed="true"></button><div id="yt-masthead-creation-clickcard" class="yt-uix-clickcard-content"><div class="yt-masthead-creation-upload"><a href="/create_channel?next=%2Fupload&amp;upsell=upload" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon" data-sessionlink="ei=HTHIYLaGHcvWkgazsYqYAw" id="creation-upload-menu-item" data-upsell="upload"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-creation-upload yt-sprite"></span></span><span class="yt-uix-button-content">Upload video</span></a></div><div class="yt-masthead-creation-live"><a href="/create_channel?next=%2Flivestreaming%2F&amp;upsell=live" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-default yt-uix-button-has-icon" data-sessionlink="ei=HTHIYLaGHcvWkgazsYqYAw" id="creation-live-menu-item" data-upsell="live"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-creation-live yt-sprite"></span></span><span class="yt-uix-button-content">Go live</span></a></div></div></div>
      {% else %}
      <a href="//www.youtube.com/upload" class="yt-uix-button   yt-uix-sessionlink yt-uix-button-opacity yt-uix-button-size-default yt-uix-button-has-icon yt-uix-tooltip yt-uix-button-empty" data-sessionlink="ei=_iZIWtz_LZa0-wP4l5qwCw&amp;feature=mhsb" id="upload-btn" title="Upload" data-tooltip-text="Upload" aria-labelledby="yt-uix-tooltip567-arialabel"><span class="yt-uix-button-icon-wrapper"><span class="yt-uix-button-icon yt-uix-button-icon-material-upload yt-sprite"></span></span></a>
      {% endif %}
      <div class="signin-container "><button class="yt-uix-button yt-uix-button-size-default yt-uix-button-primary" type="button" onclick=";window.location.href=this.getAttribute(&#39;href&#39;);return false;" href="https://accounts.google.com/ServiceLogin?service=youtube&amp;uilel=3&amp;hl=en&amp;continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Fapp%3Ddesktop%26action_handle_signin%3Dtrue%26hl%3Den%26next%3D%252F%26feature%3Dsign_in_button&amp;passive=true" role="link"><span class="yt-uix-button-content">Sign in</span></button></div>
   </div>
   <div id="yt-masthead-content">
      <form id="masthead-search" class="  search-form consolidated-form  vve-check" action="/results" onsubmit="if (document.getElementById(&#39;masthead-search-term&#39;).value == &#39;&#39;) return false;" data-clicktracking="CAIQ7VAiEwji18z73-raAhUQO38KHYD9Cikojh4" data-visibility-tracking="CAIQ7VAiEwji18z73-raAhUQO38KHYD9Cikojh4">
         <button class="yt-uix-button yt-uix-button-size-default yt-uix-button-default search-btn-component search-button" type="submit" onclick="if (document.getElementById(&#39;masthead-search-term&#39;).value == &#39;&#39;) return false; document.getElementById(&#39;masthead-search&#39;).submit(); return false;;return true;" tabindex="2" id="search-btn" dir="ltr"><span class="yt-uix-button-content">Search</span></button>
         <div id="masthead-search-terms" class="masthead-search-terms-border" dir="ltr"><input id="masthead-search-term" autocomplete="off" {{(pageType == 'home') ? 'autofocus'}} onkeydown="if (!this.value &amp;&amp; (event.keyCode == 40 || event.keyCode == 32 || event.keyCode == 34)) {this.onkeydown = null; this.blur();}" class="search-term masthead-search-renderer-input yt-uix-form-input-bidi" name="search_query" value="{% if pageType == "search" %}{{ yt.searchQuery }}{% endif %}" type="text" tabindex="1" placeholder="Search" title="Search" aria-label="Search"></div>
      </form>
   </div>
</div>