{% extends 'core.twig' %}

{% set pageType = 'page-default oops-content' %}

{%- block head_css -%}
<link rel="stylesheet" href="//s.ytimg.com/yts/cssbin/www-error-vflvD9R0Z.css" name="www-error">
{% endblock %}

{%- block alerts -%}
<div class="yt-alert yt-alert-actionable yt-alert-error ">
   <div class="yt-alert-icon">
      <img src="//s.ytimg.com/yt/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
   </div>
   <div class="yt-alert-content" role="alert">
      <span class="yt-alert-vertical-trick"></span>
      <div class="yt-alert-message">
         {{ yt.errInfo.messagePreview }}
      </div>
   </div>
   <div class="yt-alert-buttons">
      <button target="_blank" class="yt-uix-button    yt-uix-button-alert-error yt-uix-button-size-small" id="fatal-more"><span class="yt-uix-button-content">More information</span></button>
   </div>
</div>
{% endblock %}

{%- block content -%}
<img src="//s.ytimg.com/yts/img/tv_stack-vflmeOpv_.png" alt="Sorry, something went wrong! Our tubes must be clogged." title="Sorry, something went wrong! Our tubes must be clogged.">
<div id="fatal-dialog-template" class="hid">
   <div id="fatal-dialog" class="yt-dialog preserve-players" data-player-ready-pubsub-key="589">
      <div class="yt-dialog-base"> <span class="yt-dialog-align"></span>
         <div role="dialog" tabindex="0" class="yt-dialog-fg yt-uix-overlay-primary yt-uix-overlay">
            <div class="yt-dialog-fg-content yt-dialog-show-content">
               <div class="yt-dialog-content">
                  <div class="yt-dialog-overlay-content-container">
                     <div class="yt-dialog-header">
                        <h2 class="yt-dialog-title">Error log</h2>
                        <button id="fatal-log-close" class="yt-uix-button yt-uix-button-empty yt-uix-button-has-icon yt-uix-button-opacity yt-uix-button-size-default yt-uix-tooltip"
                           data-tooltip-text="Close" onclick=";return false;" title="Close" type="button">
                           <span class="yt-uix-button-icon-wrapper">
                              <span class="yt-sprite yt-uix-button-icon yt-uix-button-icon-close">
                              </span>
                           </span>
                           <span class="yt-uix-button-content">
                           </span>
                        </button>
                     </div>
                     <div id="fatal-stack-trace">
                        <pre>{{ yt.errInfo.message }}</pre>
                     </div>
                  </div>
               </div>
            </div>
            <div class="yt-dialog-focus-trap" tabindex="0"></div>
         </div>
      </div>
   </div>
</div>
<style>
   #fatal-dialog .yt-dialog-header h2.yt-dialog-title {
      font-weight: 400;
      font-size: 20px;
   }

   #fatal-dialog .yt-dialog-header {
      position: relative;
   }

   #fatal-log-close {
      position: absolute;
      top: 10px;
      right: -10px;
   }

   #fatal-stack-trace {
      box-sizing: border-box;
      padding: 6px;
      overflow: scroll;
      border: 1px solid #ccc;
      overflow-x: auto;
      width: calc(100vw - 96px);
      height: calc(100vh - 112px);
   }

   #fatal-stack-trace > pre {
      white-space: pre-wrap;
   }
</style>
<script>
(
function() {

// I speedran this at 3 am forgive me
(function(){

function create()
{
   document.body.setAttribute("class",
      document.body.getAttribute("class") + " hide-players yt-dialog-active"
   );

   var bgdiv = document.createElement("DIV");
   bgdiv.setAttribute("id", "yt-dialog-bg");
   bgdiv.setAttribute("class", "yt-dialog-bg");
   bgdiv.setAttribute("style", "height: 100%; width: 100%; position: fixed;");
   document.body.insertBefore(bgdiv,
      document.getElementById("footer-container").nextSibling
   );
   document.getElementById("fatal-dialog-template").setAttribute("class", "");
}

function kill()
{
   document.body.setAttribute("class",
      document.body.getAttribute("class").replace(" hide-players yt-dialog-active", "")
   );

   document.getElementById("yt-dialog-bg").outerHTML = ""; // ie < 9 no remove
   document.getElementById("fatal-dialog-template").setAttribute("class", "hid");
}

document.getElementById("fatal-more").onclick = create;
document.getElementById("fatal-log-close").onclick = kill;

})();

}
)();
</script>
{% endblock %}