/**
 * Rebug global walker styles.
 *
 * @author Taniko Yamamoto <kirasicecreamm@gmail.com>
 * @author The Rehike Maintainers
 */

@mixin styles() {
    #rebug-lightbox {
        .global-walker-container .items {
            font-family: Consolas, monospace;
            white-space: nowrap;
        }

        .global-walker-container {
            height: 100%;

            .variable-name {
                color: #003699;
                font-weight: 700;
            }

            .type-string {
                color: #0a860a;
            }

            .type-string::before,
            .type-string::after,
            .children.is-associative > .global-walker-item > .item-header .variable-name::before,
            .children.is-associative > .global-walker-item > .item-header .variable-name::after {
                content: "\"";
            }

            .type-number,
            .type-bool,
            .type-name-display {
                color: #9e4aec;
            }

            .type-name-display {
                font-style: italic;
            }

            .array-length-display,
            .type-associative,
            .type-other {
                color: #666;
                font-style: italic;
            }
        }

        .global-walker-item {
            .item-header {
                position: relative;
            }
    
            & > .item-header:hover {
                background: #cce7ff;
            }
    
            .item-header .toggle-icon {
                position: absolute;
                display: inline-block;
            }
    
            .toggle-icon {
                margin-top: 5px;
                margin-left: -13px;
                border: 1px solid transparent;
                border-left-color: #333;
                border-width: 4px 0 4px 4px;
                width: 0;
                height: 0;
            }
    
            &.rebug-expander-expanded > .item-header > .toggle-icon {
                margin-top: 7px;
                margin-left: -15px;
                border: 1px solid transparent;
                border-top-color: #333;
                border-width: 4px 4px 0;
                width: 0;
                height: 0;
            }
    
            .global-walker-container .rebug-expander {
                cursor: revert;
            }
    
            .global-walker-container .rebug-expander-target {
                cursor: pointer;
            }
    
            .item-header,
            .expanded-display {
                padding-left: 22px;
            }
    
            &.rebug-expander-collapsed > .expanded-display {
                display: none;
            }
    
            &.rebug-expander-expanded > .item-header > .collapsed-display,
            &.rebug-expander-expanded > .item-header > span > .collapsed-display {
                display: none;
            }
    
            .children > .global-walker-item {
                border-left: 2px solid #888;
                margin-left: -12px;
                padding-left: 9px;
            }
    
            .expanded-display > .brace {
                margin-left: -14px;
            }
        }
    }
}