#rebug-lightbox .global-walker-container .items
{
  font-family: Consolas, monospace;
  white-space: nowrap;
}

#rebug-lightbox .global-walker-container
{
  height: 100%;
}

#rebug-lightbox .global-walker-item .item-header
{
  position: relative;
}

#rebug-lightbox .global-walker-item > .item-header:hover
{
    background: #cce7ff;
}

#rebug-lightbox .global-walker-item .item-header .toggle-icon
{
  position: absolute;
  display: inline-block;
}

#rebug-lightbox .global-walker-item .toggle-icon
{
    margin-top: 5px;
    margin-left: -13px;
    border: 1px solid transparent;
    border-left-color: #333;
    border-width: 4px 0 4px 4px;
    width: 0;
    height: 0;
}

#rebug-lightbox .global-walker-item.rebug-expander-expanded > .item-header > .toggle-icon
{
    margin-top: 7px;
    margin-left: -15px;
    border: 1px solid transparent;
    border-top-color: #333;
    border-width: 4px 4px 0;
    width: 0;
    height: 0;
}

#rebug-lightbox .global-walker-container .rebug-expander
{
  cursor: revert;
}

#rebug-lightbox .global-walker-container .rebug-expander-target
{
  cursor: pointer;
}

#rebug-lightbox .global-walker-item .item-header, 
#rebug-lightbox .global-walker-item .expanded-display
{
  padding-left: 22px;
}

#rebug-lightbox .global-walker-item.rebug-expander-collapsed > .expanded-display
{
  display: none;
}

#rebug-lightbox .global-walker-item.rebug-expander-expanded > .item-header > .collapsed-display,
#rebug-lightbox .global-walker-item.rebug-expander-expanded > .item-header > span > .collapsed-display
{
  display: none;
}

#rebug-lightbox .global-walker-container .variable-name
{
  color: #003699;
  font-weight: 700;
}

#rebug-lightbox .global-walker-container .type-string
{
  color: #0a860a;
}

#rebug-lightbox .global-walker-container .type-string::before,
#rebug-lightbox .global-walker-container .type-string::after,
#rebug-lightbox .global-walker-container .children.is-associative > .global-walker-item > .item-header .variable-name::before,
#rebug-lightbox .global-walker-container .children.is-associative > .global-walker-item > .item-header .variable-name::after
{
  content: "\"";
}

#rebug-lightbox .global-walker-container .type-number,
#rebug-lightbox .global-walker-container .type-bool,
#rebug-lightbox .global-walker-container .type-name-display
{
  color: #9e4aec;
}

#rebug-lightbox .global-walker-container .type-name-display
{
  font-style: italic;
}

#rebug-lightbox .global-walker-container .array-length-display,
#rebug-lightbox .global-walker-container .type-associative,
#rebug-lightbox .global-walker-container .type-other
{
  color: #666;
  font-style: italic;
}

#rebug-lightbox .global-walker-item .children > .global-walker-item
{
  border-left: 2px solid #888;
  margin-left: -12px;
  padding-left: 9px;
}

#rebug-lightbox .global-walker-item .expanded-display > .brace
{
  margin-left: -14px;
}