{#
    Params:
        - comments (object): A standard comments model from Rehike.
#}
{% macro watch_discussion(comments) %}
{% import '/common/comments/main.twig' as comments %}
<div id="watch-discussion" class="branded-page-box yt-card">
    {% from "/common/comments/comment_section_renderer.twig" import render as comment_section_renderer %}
    {{ comment_section_renderer(comments)}}
</div>
{% endmacro %}