<div id="creator-page" class="clearfix ytg-box {% block creator_page_class %}{% endblock %}">
    <div id="creator-page-sidebar" class="ytg-1col yt-card">
        {% block creator_page_sidebar %}{% endblock %}
    </div>
    <div id="creator-page-content" class="ytg-fl yt-card {% block creator_page_content_class %}{% endblock %}">
        {% block creator_page_content %}{% endblock %}
    </div>
</div>